<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Daruma Scraping</title>

</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><strong>Daruma Scraping</strong> <i class="fas fa-spider"></i></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/addjobs">Add Job(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/items">View Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/price">View Price Table</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if username == 'farhan' %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        <a class="dropdown-item" href="/user/{{username}}/adduser">Add User</a>
                        <a class="dropdown-item" href="/user/{{username}}/viewusers">View Users</a>
                        {% else %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/{{username}}/aggregate">Aggregate</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
          <h3 class="border-bottom border-gray pb-2 mb-4">Aggregate Detail</h3>
        <form id="edit_form" action="/user/{{username}}/edit_aggregate/" method="post">
        <div class="media text-muted pt-3">
            <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td><textarea form="edit_form" name="edit_name" rows="4" cols="70">{{data['name']}}</textarea></td>
                    </tr>
                    <tr>
                        <th>Link ID</th>
                        <td>{{data['link_id']}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><textarea form="edit_form" name="edit_description" rows="4" cols="70">{{data['description']}}</textarea></td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td><textarea form="edit_form" name="edit_brand_name" rows="4" cols="70">{{data['brand']}}</textarea></td>
                    </tr>
                    <tr>
                        <th>SKU</th>
                        <td><textarea form="edit_form" name="edit_sku" rows="4" cols="70">{{data['sku']}}</textarea></td>
                    </tr>
                    <tr>
                        <th>Supplier Code</th>
                        <td><textarea form="edit_form" name="edit_supplier_code" rows="4" cols="70">{{data['supplier_code']}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Average Price</th>
                        <td>{{data['average']}}</td>
                    </tr>
                    <tr>
                        <th>Lowest Price</th>
                        <td>{{data['lowest_price']}}</td>
                    </tr>
                    <tr>
                        <th>Highest Price</th>
                        <td>{{data['highest_price']}}</td>
                    </tr>
                    <tr>
                        <th>Total Views</th>
                        <td>{{data['total_views']}}</td>
                    </tr>
                    <tr>
                        <th>Total Sales</th>
                        <td>{{data['total_sales']}}</td>
                    </tr>
                    </tbody>
            </table>
        </div>
            <input type="hidden" name="product_id" value="{{data['product_id']}}" form="edit_form">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">save</button>
        </form>
      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
</html>