<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daruma Scraping</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        {% if data %}
            $("#productlist").hide();
            $("#brandlist").hide();
            $("#usersview").hide();
            $("#tableview").show();
            $("#adduser").hide();
        {% else %}
            $("#productlist").show();
            $("#brandlist").hide();
            $("#usersview").hide();
            $("#tableview").hide();
            $("#adduser").hide();
        {% endif %}
        $("#brandlisttrigger").click(function(){
            $("#brandlist").show();
            $("#productlist").hide();
            $("#flash").hide();
            $("#tableview").hide();
            $("#usersview").hide();
            $("#adduser").hide();
        });
        $("#productlisttrigger").click(function(){
            $("#brandlist").hide();
            $("#productlist").show();
            $("#tableview").hide();
            $("#flash").hide();
            $("#usersview").hide();
            $("#adduser").hide();
        });
        $("#tableviewtrigger").click(function(){
            $("#brandlist").hide();
            $("#productlist").hide();
            $("#tableview").show();
            $("#usersview").hide();
            $("#flash").hide();
            $("#adduser").hide();
        });
        $("#viewuserstrigger").click(function(){
            $("#brandlist").hide();
            $("#productlist").hide();
            $("#tableview").hide();
            $("#flash").hide();
            $("#usersview").show();
            $("#adduser").hide();
        });
        $("#addusertrigger").click(function(){
            $("#brandlist").hide();
            $("#productlist").hide();
            $("#tableview").hide();
            $("#flash").hide();
            $("#usersview").hide();
            $("#adduser").show();
        });
    });
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user/{{ username }}">
                Hello, {{username}}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Menu
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <h4 data-toggle="collapse" data-parent="#accordion">
                            Jobs</h4>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <ul class="list-group">
                        <li id="productlisttrigger" class="list-group-item"><a style="text-decoration: none;" href="#" onclick="myFunctionProductlist()">Add Job(s)</a></li>
                        <li id="tableviewtrigger" class="list-group-item"><a style="text-decoration: none;" href="#" onclick="myFunctionProductlist()">View Jobs</a></li>
                        <li id="itemsviewtrigger" class="list-group-item"><a style="text-decoration: none;" target="_blank" href="{{ username }}/items" onclick="myFunctionItems()">View Items</a></li>
                        <li class="list-group-item"><a style="text-decoration: none;" target="_blank" href="{{ username }}/price">View Price Table</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="superuser">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <h4 data-toggle="collapse" data-parent="#accordion">
                            Users</h4>
                    </h4>
                </div>
                <div class="panel-collapse collapse in">
                    <ul class="list-group">
                        <li id="addusertrigger" class="list-group-item"><a style="text-decoration: none;" href="#" onclick="myFunction()">Add Users</a></li>
                        <li id="viewuserstrigger" class="list-group-item"><a style="text-decoration: none;" href="#" onclick="myFunctionProductlist()">View Users</a></li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="col col-md-9">
        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div id="flash" class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div id="adduser" class="col col-md-5">
                <h4>Add User</h4>
                <form role="form" action="/adduser" method="post">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <input name="password" type="text" class="form-control" placeholder="Enter password" required>
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
            <div id="tableview" class="col col-md-9">
                <h4>View Jobs</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Job ID</th>
                        <th scope="col">URL</th>
                        <th scope="col">Spider</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Status</th>
                        <th scope="col">Requests</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data %}
                    <tr>
                        <th scope="row"><a style="text-decoration: none;" href="/user/{{username}}/detail/{{d['job_id']}}" target="_blank">{{ d['job_id'] }}</a></th>
                        <th scope="row"><a style="text-decoration: none;" href="{{ d['url'] }}" target="_blank">{{ d['url_display'] }}</a></th>
                        <td>{{ d['spider'] }}</td>
                        <td>{{ d['created_at'] }}</td>
                        <td>{{ d['created_by'] }}</td>
                        {% if d['status'] == 'pending' %}
                            <td style="color: gray;">{{ d['status'] }}</td>
                        {% elif d['status'] == 'on process' %}
                            <td style="color: blue;">{{ d['status'] }}</td>
                        {% elif d['status'] == 'done' %}
                            <td style="color: green;">{{ d['status'] }}</td>
                        {% elif d['status'] == 'error' %}
                            <td style="color: red;">{{ d['status'] }}</td>
                        {% elif d['status'] == 'canceled' %}
                            <td style="color: red;">{{ d['status'] }}</td>
                        {% endif %}
                        <td>{{d['requests_200']}}/{{ d['requests'] }}</td>
                        <td>
                        {% if d['status'] == 'pending' %}
                        <a  href="/user/{{username}}/update/{{d['job_id']}}" type="button" class="btn btn-danger btn-sm">cancel</a></td>
                        {% else %}
                        <a  href="/user/{{username}}/update/{{d['job_id']}}" type="button" class="btn btn-danger btn-sm" disabled>cancel</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="usersview" class="col col-md-9">
                <h4>Users</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user['user_id'] }}</th>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['password'] }}</td>
                        <td><a  href="/user/{{username}}/delete_user/{{user['user_id']}}" type="button" class="btn btn-danger btn-sm">delete</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="productlist" class="col col-md-9">
        <div class="row">
            <div class="col col-md-5">
                <h4>Add Job(s)</h4>
                <form method="post" action="/insert_job">
                    <div class="form-group">
                        <div class="form-group">
                            <input id="daruma_code" type="text" name="daruma_code" class="form-control" placeholder="Daruma Code (Optional)">
                        </div>
                        <div class="form-group">
                            <select name="spider" class="form-control" id="spider" required>
                                <option selected disabled>Select Spider</option>
                                <option value="ProductListSpider">ProductListSpider</option>
                                <option value="BrandListSpider">BrandListSpider</option>
                            </select>
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" name="input" rows="5" id="url" placeholder="URL(s)"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
<!--function myFunction() {-->
    <!--var brandlist = document.getElementById("brandlist");-->
    <!--var productlist = document.getElementById("productlist");-->
    <!--if (brandlist.style.visibility === "hidden") {-->
        <!--brandlist.style.display = "block";-->
        <!--brandlist.style.visibility = "visible";-->
        <!--productlist.style.visibility = "hidden";-->
    <!--}-->
<!--}-->
<!--function myFunctionProductlist() {-->
    <!--var brandlist = document.getElementById("brandlist");-->
    <!--var productlist = document.getElementById("productlist");-->
    <!--if (productlist.style.visibility === "hidden") {-->
        <!--productlist.style.display = "block";-->
        <!--productlist.style.visibility = "visible";-->
        <!--brandlist.style.visibility = "hidden";-->
    <!--}-->
<!--}-->
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>