<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daruma Scraping</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#tablerequest").hide();
        $("#itemtable").hide();
        $("#requestdetailtrigger").click(function(){
            $("#tablerequest").show();
        });
        $("#itemstabletrigger").click(function(){
            $("#itemtable").show();
        });
    });
    </script>

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user/{{ username }}">
                Hello, {{username}}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Menu
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="tableview" class="col col-md-6" style="border-radius: 5px; width: 50%; margin: 0px auto; float: none;">
                <h4>Detail Job {{id}}</h4>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th >{{keys[0]}}</th>
                        <td>{{data['job_id']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[1]}}</th>
                        <td>{{data['url']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[2]}}</th>
                        <td>{{data['created_at']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[3]}}</th>
                        <td>{{data['created_by']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[4]}}</th>
                        <td>{{data['start_time']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[5]}}</th>
                        <td>{{data['end_time']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[6]}}</th>
                        <td>{{data['error_count']}}</td>
                    </tr>
                    <tr>
                        <th >Response Duration(s)</th>
                        <td>{{data['response_duration']}}</td>
                    </tr>
                    <tr>
                        <th><a style="text-decoration: none;" id="requestdetailtrigger" href="#">Request(s)</a></th>
                        <td>{{request_count}}</td>
                    </tr>
                    <tr>
                        <th><a style="text-decoration: none;" id="itemstabletrigger" href="#">Item(s)</a></th>
                        <td>{{items_len}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    <div id="tablerequest" class="col col-md-6" style="border-radius: 5px; width: 50%; margin: 0px auto; float: none;">
        <br>
        <h4>Detail Request(s)</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Request</th>
                    <th scope="col">Url</th>
                    <th scope="col">Status Code</th>
                    <th scope="col">Content Type</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Exception Content</th>
                </tr>
            </thead>
            <tbody>
            {% for request in requests %}
            <tr>
                <th scope="row">{{request['count']}}</th>
                <td>{{request['url']}}</td>
                <td>{{request['http_status_code']}}</td>
                <td>{{request['content_type']}}</td>
                <td>{{request['created_at']}}</td>
                <td><a style="text-decoration: none;" target="_blank" href="/user/{{username}}/error_detail/{{request['job_id']}}">{{request['exception_content'][0]}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="itemtable" class="col col-md-6" style="border-radius: 5px; width: 50%; margin: 0px auto; float: none;">
        <span>
            <a style="float: right;" target="blank" type="button" class="btn btn-default btn-sm"
                href="/user/{{username}}/return-items-files/{{id}}/">
                download item(s)
            </a>
        </span>
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Spider</th>
                <th scope="col">URL</th>
                <th scope="col">Daruma Code</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            {% for d in items %}
            <tr>
                <td>{{ d['spider'] }}</td>
                <td><a href="{{ d['url'] }}" style="text-decoration: none;" target="_blank">{{ d['url_display'] }}</a>
                </td>
                <td>{{ d['daruma_code'] }}</td>
                <td>{{ d['data'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>