<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daruma Scraping</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#tablerequest").hide();
        $("#requestdetailtrigger").click(function(){
            $("#tablerequest").show();
        });
    });
    </script>

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user/{{ username }}">
                Hello, {{username}}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Menu
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <span>
            <form style="float: right;" action="/user/{{username}}/items" method="get" style="width: 18%;">
                <div class="input-group">
                    <select name="spider" class="form-control" id="spider">
                                <option value="no filter" selected disabled>Select Filter</option>
                                <option value="ProductListSpider">ProductListSpider</option>
                                <option value="BrandListSpider">BrandListSpider</option>
                                <option value="no filter">No Filter</option>
                    </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
                </div>
            </form>
    </span>
    <div id="tableview" class="col">
                <h4>Items filter: {{ le }}</h4>
                <table class="table table-bordered">
                   <thead>
                    <tr>
                        <th scope="col">Job ID</th>
                        <th scope="col">Spider</th>
                        <th scope="col">URL</th>
                        <th scope="col">Daruma Code</th>
                        <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data %}
                    <tr>
                        <td><a style="text-decoration: none;" href="/user/{{username}}/detail/{{d['job_id']}}" target="_blank">{{ d['job_id'] }}</a></td>
                        <td>{{ d['spider'] }}</td>
                        <td><a href="{{ d['url'] }}" style="text-decoration: none;" target="_blank">{{ d['url_display'] }}</a></td>
                        <td>{{ d['daruma_code'] }}</td>
                        <td>{{ d['data'] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>